@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'PT Root UI';
	src: url('https://fonts.cdnfonts.com/s/17770/PT Root UI_Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'PT Root UI';
	src: url('https://fonts.cdnfonts.com/s/17770/PT Root UI_Bold.woff') format('woff');
	font-weight: 700;
	font-style: bold;
}
